:root {
    --primary: #FF6838;
    --text: #302F3C;
    --secondary: #FAFAFA;
}

* {
    font-family: 'Poppins', sans-serif;
    color: var(--text);
}

a {
    color: var(--text);
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
}

.hero-text .badge {
    background-color: var(--secondary);
    color: var(--primary);
}

.hero-text h1 {
    font-size: 70px;
}

.hero-text h1 span {
    color: var(--primary);
}

.hero-text h6 {
    width: 80%;
    font-size: 18px;
    line-height: 25px;
}

.btnPrimary {
    background-color: var(--primary);
    border-radius: 20px;
}

.btnSecondary {
    background-color: var(--secondary);
    border-radius: 20px;
}

.hero-card {
    background-color: var(--secondary);
    width: fit-content;
    border-radius: 30px;
    margin-top: 60px;
}

.hero-card .bronze {
    border: 10px solid white;
}

.hero-card .voters {
    margin-left: 35%;
}

.hero-card p {
    color: var(--primary);
}

.sushi {
    left: 45vw;
}

.chili {
    top: 35vh;
    left: 88vw;
}

.pizza {
    top: 80vh;
    left: 38vw;
}

.french-fries {
    top: 72vh;
    right: 0;
}

@media (min-width: 320px) and (max-width: 600px) {

    .hero-img {
        display: none;
    }

    .hero-text {
        margin: 25px 15px;
    }

    .hero-text .badge {
        font-size: 12px;
    }

    .hero-text h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .hero-text h6 {
        width: 100%;
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 23px;
    }

    .hero-btn {
        flex-wrap: wrap;
    }

    .btnPrimary {
        border-radius: 10px;
        padding: 10px 15px;
    }

    .btnSecondary {
        padding: 10px 15px;
        border-radius: 10px;
    }

    .hero-card {
        margin-top: 50px;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 20px;
    }

    .hero-card .voters {
        margin-left: 40%;
    }

    .sushi, .chili, .pizza, .french-fries {
        display: none;
    }
}